### **Python Basics**

### Printing, Variables, Arithmetic

In [1]:
# Print
print('I already love Python')

I already love Python

In [2]:
# Variables and assignment
a = 10
print(a)
b = 5
print(b)

10
5

In [3]:
# Arithmetic
# Note variable values persist from previous cell
print(a + b)
print(b - a)
print(a * b)
print(b / a)

15
-5
50
0.5

In [4]:
# Update
a = a + b
print(a)

15

In [5]:
# Increment
a += b
print(a)

20

### Types

In [6]:
# Dynamically-inferred types
a = 10
print(type(a))
a = '10'
print(type(a))
a = 10.0
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>

In [7]:
# Type-checking
a = 10
b = '5'
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
# Manual type-conversion (string to int)
a = 10
b = '5'
print(a + int(b))

15

In [9]:
# Automatic type-conversion (int to float)
a = 10
print(type(a))
a += 5.0
print(a, type(a))

<class 'int'>
15.0 <class 'float'>

In [10]:
# String "arithmetic" (actually concatenation)
a = 'Professor '
b = 'Widom'
print(a + b)

Professor Widom

### Conditional (If) Statements

In [11]:
# If statements
# Unlike other languages, indentation is significant
a = 8
if a > 10:
    print(a, 'is greater than 10')
    if a >= 15:
        print(a, 'is also at least 15')
elif a > 5:
    print(a, 'is greater than 5 but not greater than 10')
else:
    print('no condition matched')
    print('so a is 5 or less')

8 is greater than 5 but not greater than 10

### <font color = 'green'>**Your Turn**</font>

In [17]:
# Write a program that starts with a number assigned to variable a.
# If the square of that number is 100 or greater,
# print the squared value and 'is big'.
# Otherwise if the square is 50 or greater,
# print the squared value 'is medium'.
# Otherwise just print 'too small to bother with'.
# Note: To obtain a value squared, use a*a or a**2
# Make sure to try different values for a
#
a = 8
square = a**2
if square >= 100:
    print(square, 'is big')
elif square >= 50:
    print(square, 'is medium')
else:
    print(f"{square} too small")

64 is medium

### Lists and For-Loops

In [18]:
# List
a = [2, 4, 7, 9]
print(a)
print(type(a))
print(len(a))

[2, 4, 7, 9]
<class 'list'>
4

In [19]:
# Iterate through a list
for item in a:
    print(item, 2 * item)

2 4
4 8
7 14
9 18

In [20]:
# Access element by index (starts at zero)
print(a)
print(a[-1])
print(a[-3])

[2, 4, 7, 9]
9
4

In [21]:
# Prefix, suffix, and section of list
print(a)
print(a[:2])
print(a[1:])
print(a[1:3])

[2, 4, 7, 9]
[2, 4]
[4, 7, 9]
[4, 7]

In [22]:
# Append to list
a.append(12)
a.append(14)
print(a)

[2, 4, 7, 9, 12, 14]

In [23]:
# Combine two lists
a = a + [15, 20, 30]
print(a)

[2, 4, 7, 9, 12, 14, 15, 20, 30]

In [24]:
# List elements can be of different types
a = [1, 'two', 3.0, [4,5,6]]
print(a)
print(type(a))
print(type(a[0]), type(a[1]), type(a[2]), type (a[3]))

[1, 'two', 3.0, [4, 5, 6]]
<class 'list'>
<class 'int'> <class 'str'> <class 'float'> <class 'list'>

### Dictionaries (key-value mappings)

In [25]:
# Dictionary
a = {'name': 'Mary', 'age': 20, 'gender': 'F'}
print(a)
print(type(a))

{'name': 'Mary', 'age': 20, 'gender': 'F'}
<class 'dict'>

In [26]:
# Look up value of element by key - most important feature!
print(a['age'])
# also try a['gender'], a['salary']

20

In [27]:
# Modify value
print(a)
a['age'] = 20
print(a)

{'name': 'Mary', 'age': 20, 'gender': 'F'}
{'name': 'Mary', 'age': 20, 'gender': 'F'}

In [28]:
# Add new key-value pair
a['salary'] = 100
print(a)

{'name': 'Mary', 'age': 20, 'gender': 'F', 'salary': 100}

In [29]:
# Iterating through a list of dictionaries
dlist = [{'name':'Mary', 'age':20}, {'name':'John', 'age':30},
         {'name':'Bill', 'age':10}, {'name':'Susan', 'age':40}]
for x in dlist:
    if x['age'] >= 30:
        print(x['name'], 'is old')
    if x['age'] < 20:
        print(x['name'], 'is young')

John is old
Bill is young
Susan is old

### <font color = 'green'>**Your Turn**</font>

In [30]:
# Here is a dataset of four items, represented as a list of
# dictionaries specifying each item's color and size
items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},
         {'color':'green', 'size':15}, {'color':'yellow', 'size':6}]
# Write code that prints the color of all items whose size
# is greater than threshold 'low' and less than threshold 'high'
# Note: In Python, use 'and' to combine conditions
low = 5
high = 11
for item in items:
    if item['size'] > low and item['size'] < high:
        print(item['color'])

red
yellow

### Additional Features - Mostly Just FYI

#### User input

In [31]:
a = input('Enter value 1: ')
b = input('Enter value 2: ')
print(a + b)
# Fix to do integer addition

Enter value 1: 2
Enter value 2: 5
25

#### While loops

In [32]:
# Echo user input, 'quit' to end
i = input('Enter any string, or "quit" to stop: ')
while i != 'quit':
    print(i)
    i = input('Enter any string, or "quit" to stop: ')
print('Done')
# Change to while True and break

Enter any string, or "quit" to stop: hi
hi
Enter any string, or "quit" to stop: quit
Done

#### Infinite while loop

In [39]:
# Try not 'quit' then try 'quit', Runtime > interrupt
while True:
    i = input('Enter any string, or "quit" to stop: ')
    if i == 'quit':
        break
    print(i)
print('Done')

Enter any string, or "quit" to stop: 1
1
Enter any string, or "quit" to stop: quit
Done

#### Functions

In [40]:
# Create a function with no arguments or return value
def simple():
    print('This function has no arguments or return value')

simple()

This function has no arguments or return value

In [41]:
# Call the function five times
for i in [1,2,3,4,5]:
    simple()

This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value

In [42]:
# Create a function with arguments and a return value
def addthem(a, b):

    return a + b

In [43]:
# Call the function five times
for i in [1,2,3,4,5]:
    print(i, i+1, addthem(i,i+1))

1 2 3
2 3 5
3 4 7
4 5 9
5 6 11